.blink {
    -webkit-animation: blink5 2s linear infinite;
    animation: blink5 2s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        color: rgb(0, 151, 149);
    }
    50% {
        color: rgb(39, 104, 147);
    }
    100% {
        color: rgb(0, 151, 149);
    }
}

@keyframes blink {
    0% {
        color: rgb(0, 151, 149);
    }
    50% {
        color: rgb(39, 104, 147);
    }
    100% {
        color: rgb(0, 151, 149);
    }
}