.emphasis {
    color: #b80;
}
.js-notice {
    margin: 12px 0 0 0;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
    background-color: #111;
    padding: 10px;
    border: 1px solid #222;

}
.js-notice-title {
    margin-top: 0.2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #8c939b;
}
.js-notice-description {
    color: #5b6269;
    font-size: 1.1em;
    margin: 0;
}
.js-notice-emphasis {
    color: #b80;
}
.wrapper-js-play {
    margin: 15px 0 0 0;
}
@media (min-width: 600px) and (max-width: 1150px) {
    .wrapper-js-play {
        margin: 30px 0 0 0;
    }
}
@media (max-width: 600px) {
    .wrapper-js-play {
        margin: 30px 0 0 0;
    }
}
@media (max-width: 300px) {
    .wrapper-js-play {
        margin: 30px 0 0 0;
    }
}
.js-play {
    padding: 5px 50px 5px 50px;
    border: 1px solid #960;
    background-color: #430;
    color: #fb0;
    font-size: 1.5em;
}
.js-play:hover {
    padding: 5px 50px 5px 50px;
    border: 1px solid #000;
    background-color: #a70;
    color: #000;
    font-size: 1.5em;
}

/* == main.css ======== */
html, body {
    height: 100%;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: small;
    color: #ffffff;
}
.artist {
    font-family: sans-serif;
    color: #777;
}
::selection {
    color: #ebbd00; /* Цвет текста */
    background: none; /* Цвет фона */
}
::-moz-selection {
    color: #ebbd00; /* Цвет текста */
    background: none; /* Цвет фона */
}
img::-moz-selection {
    background: rgba(235, 189, 0, 0.41);
}
img::selection {
    background: rgba(235, 189, 0, 0.41);
}
.wrapper {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    min-height: 100%;
    height: 100vh;
}
.wrapper2 {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    flex: 1 0 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
}
header {
    background: #171717;
    width: 100%;
    white-space: nowrap;
    margin: 0 auto;
}
.header2 {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
header p, h2 {
    margin: 0;
    padding: 0;
}
.headerLeft {
    margin: 1rem;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.name {
    font-size: 1.5em;
    font-family: sans-serif;
}
.headerRight {
    margin: 0;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
.headerRightItem {
    /*width: 50%;*/
    margin: 1rem;
}
.linkHeader {
    font-size: 1.5em;
    font-weight: 400;
    font-family: sans-serif;
}
a {
    color: brown;
    text-decoration: none;
    outline: none;
    transition: 0.2s;
}
a:hover {
    color: #00dbb9;
    transition: 0.2s;
}
.footer {
    width: 100%;
    background: #212121;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
.footerCenter {
    margin: 1rem;
}
.footer p {
    margin: 0;
    padding: 0;
    color: #646b72;
}
.footer h2 {
    margin: 0;
    padding: 0;
}
.update {
    color: #646b72;
    font-size: 1rem;
}
@media (min-width: 600px) and (max-width: 1150px) {
    .name {
        font-size: 1.5em;
    }
    .linkHeader {
        font-size: 1.4em;
    }
}
@media (max-width: 600px) {
    .name {
        font-size: 2.2ex;
    }
    .artist {
        font-size: 0;
        height: 0;
        margin: 0;
        padding: 0;
        width: 0;
    }
    .linkHeader {
        /* font-weight: 600; */
        font-size: 2ex;
    }
    .footerCenter {
        margin: 0.5rem;
    }
    /* .update { */
    /*     font-size: 1em; */
    /* } */
    .update2 {
        font-size: 0;
    }
    .headerRightItem {
        margin: 0.5rem;
    }
}
@media (max-width: 300px) {
    .headerLeft {
        margin: 0.5rem;
    }
    .name {
        font-size: 1.8ex;
    }
    .linkHeader {
        font-weight: 400;
        font-size: 1.5ex;
    }
}
/* == project.css ======== */
body {
    background: #171717;
}
.projectContent {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

    width: 100%;
}
.gallery {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

    width: 100%;
    background: #111;
}
.project-name {
    color: #646b72;
    margin: 1rem 0 0 0;
    font-size: 1.5em;
}
.js-img {
    margin: 0.5rem 0 1.2rem 0;
    height: 380px;
}
@media (min-width: 600px) and (max-width: 1150px) {
    .js-img {
        height: 300px;
    }
}
@media (max-width: 600px) {
    .js-img {
        height: 200px;
    }
}
@media (max-width: 350px) {
    .js-img {
        height: 100px;
    }
}
.wrap {
    margin: 0;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
.labelImg {
    height: 50px;
}
.projectImg {
    width: 100%;
    opacity: 0.9;
    flex-basis: auto;
    border: solid 0.05rem black;
}
.projectImg:hover {
    opacity: 1;
    transition: opacity 0.1s
}
.gallery .slides {
    opacity: 0;
    z-index: 0;
    transition: 0.7s;
    height: 0;
}
.galleryLeft, .galleryRight {
    /*flex-grow: 1;*/
    width: 20%;
}
.galleryLinkLeft, .galleryLinkRight {
    height: 100%;
    color: #45c3ec;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
.galleryLinkLeft {
    opacity: 0.5;
    transition: opacity 0.5s;
}
.galleryLinkLeft:hover {
    color: #00dbb9;
    opacity: 1;
    transition: opacity 0.5s
}
.galleryLinkRight {
    opacity: 0.5;
    transition: opacity 0.5s;
}
.galleryLinkRight:hover {
    color: #00dbb9;
    opacity: 1;
    transition: opacity 0.5s;
}
.indexLeft, .indexRight {
    font-size: 5em;
    margin: 0;
    padding: 0;
}
.empty {
    width: 100%;
    height: 2rem;
}
.descriptionBlock {
    width: 800px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: flex-start;
    /*margin: 4%;*/
}
.descriptionBlockItem1 {
    margin: 0.5rem 3% 0.5rem 3%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
}
.descriptionBlockName {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #8c939b;
    font-family: sans-serif;
}
.descriptionBlockItem2 {
    margin: 3%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
}
.description {
    color: #5b6269;
    font-size: 1.1em;
    margin: 0;
}
@media (min-width: 600px) and (max-width: 1024px) {
    .descriptionBlockName, .projectName {
        font-size: 1.2em;
    }
    .description {
        font-size: 1.1em;
    }
    .descriptionBlock {
        width: 80%;
    }
    .empty {
        height: 1.5em;
    }
    .indexLeft, .indexRight {
        font-size: 4em;
    }
    .gallery {
        width: 100%;
    }
    .projectName {
        margin: 0.5rem 0 0.5rem 0;
    }
}
@media (max-width: 600px) {
    .description, .descriptionBlockName, .projectName {
        font-size: 1.1em;
    }
    .descriptionBlock {
        width: 95%;
    }
    .empty {
        height: 1rem;
    }
    .indexLeft, .indexRight {
        font-size: 2.5em;
        padding: 0.8rem;
    }
    .labelImg {
        height: 30px;
    }
    .gallery {
        width: 100%;
    }
    .projectName {
        margin: 0.3rem 0 0.5rem 0;
    }
}
