/* inplement sass */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}
.header, .footer {
    color: #24292e;
    background-color: #f6f8fa;
    border: #d1d5da 1px solid;
}
.content {
    display: flex;
    justify-content: center;
}
.work-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 900px;

    margin: 10px;
}
.work-row {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    background-color: #222;

    margin: 0 0 10px 0;
}
.work-row:last-child {
    margin: 0;
}
.work-item {
    color: #24292e;
    background-color: #f6f8fa;
    border: #d1d5da 1px solid;
    border-radius: 2px;

    width: 33%;
}
