body {
    background: black url("../icon/background.png") repeat;
    background-size: 200px;
}

.meContent {
    /*margin: 2rem;*/
    width: 100%;

    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.meContent2 {
    max-width: 1400px;
    width: 100%;
    white-space: nowrap;

    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

    /*margin-bottom: 2%;*/
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    /*align-items: center;*/
}

.me {
    margin: 1rem;
    width: 50%;

    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;

    align-items: flex-start;
}

.meImg {
    /*border: black solid 0.01rem;*/
    width: 33%;
    min-width: 180px;
    min-height: 100%;
    /*min-height: 150px;*/
    /*max-width: 205px;*/
    background: center black url("../img/me.jpg") no-repeat;
    background-size: cover; /* Масштабируем фон */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*.meImg2 {*/
/*height: 0;*/
/*width: 0;*/
/*opacity: 0;*/
/*}*/

.meItem {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
}

.nameBlock {
    font-size: 1.3rem;
}

.meItem h2 {
    margin: 0 0 0.2rem 0;
    color: #3a3a3a;
}

.meRow {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;

    color: #3a3a3a;
    font-size: 1.2em;
    font-weight: 400;
}

.meRow h2 {
    /*margin: 0 5% 0 5%;*/
    font-size: 2.5ex;
    font-weight: 300;
}

.meRow2 {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    /*justify-content: space-between;*/
    align-items: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    /*margin: 0 5% 0 5%;*/
}

.meRow2 .blink {
    margin: 0;
    font-size: 2.5ex;
    font-weight: 300;
}

.grey {
    color: #3a3a3a;
}

.yellow {
    color: #ebbd00;
}

.blink {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;

}

@-webkit-keyframes blink {
    0% {
        color: rgb(69, 195, 236);
    }
    50% {
        color: rgb(53, 88, 122);
    }
    100% {
        color: rgb(69, 195, 236);
    }
}

@keyframes blink {
    0% {
        color: rgb(69, 195, 236);
    }
    50% {
        color: rgb(53, 135, 175);
    }
    100% {
        color: rgb(69, 195, 236);
    }
}

.skillsBlock {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 45%;
}

.skillsBlock h2 {
    margin: 0 0 0.1rem 0;
    color: #3a3a3a;
}

.skillItem {
    display: flex;
    flex-direction: column;
}

.skillRow {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
}

.skillRow h2 {
    margin: 0;
    color: #3a3a3a;
    font-size: 1.6em;
    font-weight: 400;
}

.toolsBlock {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;

    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

    margin: 0;
    /*max-width: 1200px;*/
    width: 100%;
    white-space: nowrap;
}

.toolsBlock h2 {
    margin: 0 0 1rem 0.3rem;
    color: #3a3a3a;
}

.tools {
    width: 100%;
    max-width: 1400px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.toolItem {
    margin: 0 0.5% 1rem 0.5%;
    width: 7.2%;
    display: block;
    position: relative;
    float: left;
}

.toolItem2 {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;

    /*align-items: center;*/
    /*-webkit-box-align: center;*/
    /*-webkit-align-items: center;*/
    /*-ms-flex-align: center;*/
}

.toolIcon {
    width: 100%;
    /*max-width: 120px;*/
    margin: 0;
    padding: 0;
}

.toolName {
    /*padding: 3% 0 0 0;*/
    margin: 0;
    color: #3a3a3a;
    font-size: 1em;
    text-align: center;
}

.toolRating {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;

    /*text-align: center;*/
    padding: 3%;
    margin: 0;
}

.toolValue {
    margin: 0;
    font-size: 1.5em;
}

.toolGrowth {
    margin: 0;
    font-size: 1.5em;
}

.low2 {
    color: #6e1a1a;
}

.medium2 {
    color: rgb(135, 107, 0);
}

.high2 {
    color: #009b8c;
}

.no {
    -webkit-animation: no 2s linear infinite;
    animation: no 2s linear infinite;
}

.low {
    -webkit-animation: low 2s linear infinite;
    animation: low 2s linear infinite;
}

.medium {
    -webkit-animation: medium 2s linear infinite;
    animation: medium 2s linear infinite;
}

.high {
    -webkit-animation: high 2s linear infinite;
    animation: high 2s linear infinite;
}

.no {
    color: #3a3a3a;
}

@-webkit-keyframes low {
    0% {
        color: #ff0900;
    }
    50% {
        color: #5a1a1a;
    }
    100% {
        color: #ff0900;
    }
}

@keyframes low {
    0% {
        color: #ff0900;
    }
    50% {
        color: #5a1a1a;
    }
    100% {
        color: #ff0900;
    }
}

@-webkit-keyframes medium {
    0% {
        color: rgb(255, 215, 3);
    }
    50% {
        color: rgb(105, 77, 0);
    }
    100% {
        color: rgb(255, 215, 3);
    }
}

@keyframes medium {
    0% {
        color: rgb(255, 215, 3);
    }
    50% {
        color: rgb(105, 77, 0);
    }
    100% {
        color: rgb(255, 215, 3);
    }
}

@-webkit-keyframes high {
    0% {
        color: #00fffb;
    }
    50% {
        color: #007364;
    }
    100% {
        color: #00fffb;
    }
}

@keyframes high {
    0% {
        color: #00fffb;
    }
    50% {
        color: #007364;
    }
    100% {
        color: #00fffb;
    }
}

.contact2 {
    width: 100%;
    /*margin: 1rem;*/
    /*margin-top: 25px;*/
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

    color: #3a3a3a;
    /*background: #0d0d11;*/
}

.contact3 {
    width: 100%;

    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;

    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

    margin: 0 0 1rem 0;
}

.contact2Item {
    /*margin: 8%;*/
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;

    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

    width: 25%;
    max-width: 150px;
    font-size: 1.2em;
    margin: 1rem 0 0 0;
}

.contact3 img {
    width: 50px;
    /*height: 100px;*/
    /*padding: 1rem;*/
}

.image.first, .image.second {
    /*border:2px solid transparent;*/
    margin: 0;
    padding: 0;
}

.image.first {
    opacity: 1;
    display: block;
    position: absolute;
    z-index: 100;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
}

.image.first:hover {
    opacity: 0;
}

div.ImgField {
    display: inline-block;
    background: no-repeat center center;
    margin: 0;
    padding: 0;
}
.contact2Item p {
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

/*////////-media-//////*/
@media (max-width: 1600px) {
    .meContent2 {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 1150px) {
    .meContent {
        font-size: 1.8ex;
    }

    .meContent2 {
        max-width: 750px;

        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;

        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;

        /*margin: 1rem;*/
    }

    .me {
        /*justify-content: center;*/
        /*align-items: center;*/
        max-width: 750px;
        width: 100%;
        margin: 0;
        font-size: 1.8ex;
    }

    .meImg {
        /*width: 150px;*/
        margin: 0.5rem 0 0 0.5rem;
        /*height: 220px;*/
        width: 25%;
        height: 250px;
        /*min-height: 150px;*/
        /*max-width: 205px;*/
        background: center black url("../img/me.jpg") no-repeat;
        background-size: cover; /* Масштабируем фон */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .meItem {
        /*margin: 0 1rem 0 0;*/
        width: 66%;
        max-width: 570px;
        margin: 0.5rem 0.5rem 0 0.5rem;
    }

    .meItem h2 {
        margin: 0 0 0.5rem 0;
    }

    .meRow h2 {
        margin: 0;
    }

    .meRow2 {
        margin: 0;
    }

    .skillsBlock {
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;

        max-width: 730px;
        width: 98%;
        font-size: 1.8ex;
        margin: 0.2rem 0 1rem 0;
    }

    .skillsBlock h2 {
        margin: 0.4rem 0 0.1rem 0;
    }

    .skillRow h2 {
        margin: 0;
    }

    .toolsBlock h2 {
        margin: 0 0 1rem 0;
    }

    .tools {
        width: 100%;
        max-width: 750px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .toolItem {
        margin: 0 0.6% 1rem 0.6%;
        width: 13%;
        display: block;
        position: relative;
        float: left;
    }

    .toolIcon {
        /*width: 100%;*/
    }

    .contact2Item p {
        margin: 0;
        padding: 0;
        font-size: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .meContent {
        font-size: 1.5ex;
    }

    .meContent2 {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;

        justify-content: flex-start;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;

        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    }

    .me {
        margin: 0;
        width: 100%;

        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;

        justify-content: flex-start;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;

        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    }

    .meImg {
        height: 100%;
        min-height: 200px;
        width: 100%;
        background: black url(../img/me2.jpg) no-repeat;
        background-size: cover;
        /*opacity: 0;*/
        /*margin: 0 0 -2px 0;*/
    }

    /*.meImg2 {*/
    /*width: auto;*/
    /*!*max-width: 600px;*!*/
    /*height: auto;*/
    /*!*background-size: cover;*!*/
    /*!*margin: auto;*!*/
    /*opacity: 100;*/
    /*border: black solid 0.01rem;*/
    /*margin: 0 0 0.5rem 0;*/
    /*}*/
    .meItem {
        width: 100%;
        margin: 1rem 0 0 0;
    }

    .nameBlock {
        font-size: 1.8em;
        font-weight: 600;
    }

    .meItem h2 {
        margin: 0 1rem 0 1rem;
    }

    .meRow2 {
        margin: 0 1rem 0 0;
    }

    .skillsBlock {
        width: 100%;
        margin: 0 0 1rem 0;
    }

    .skillsBlock h2 {
        margin: 0.4rem 1rem 0.1rem 1rem;
    }

    .skillRow h2 {
        margin: 0 0 0 1rem;
    }

    .skillRow .blink {
        margin: 0 1rem 0 0;
    }

    .tools {
        /*display: -webkit-flex;*/
        /*-webkit-flex-flow: row wrap;*/
        /*display: flex;*/
        /*flex-flow: row wrap;*/

        /*flex-direction: row;*/
        /*-webkit-box-orient: horizontal;*/
        /*-webkit-box-direction: normal;*/
        /*-webkit-flex-direction: row;*/
        /*-ms-flex-direction: row;*/

        /*flex-wrap: wrap;*/
        /*-webkit-flex-wrap: wrap;*/
        /*-ms-flex-wrap: wrap;*/

        /*justify-content: center;*/
        /*-webkit-box-pack: center;*/
        /*-webkit-justify-content: center;*/
        /*-ms-flex-pack: center;*/

        margin: 0 0 1rem 0;
        text-align: center;
        width: 100%;
        /*text-align: center;*/
    }

    .toolsBlock h2 {
        margin: 0 0 0.7rem 0;
    }

    .toolItem {
        margin: 0.2rem;
        /*font-size: 2.5ex;*/
        width: 15%;
        display: block;
        position: relative;
        float: left;
        text-align: center;
    }

    .toolIcon {
        width: 100%;
    }

    .contact2Item {
        width: 90px;
    }

    .contact2Item p {
        margin: 0;
        padding: 0;
        font-size: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

@media (max-width: 380px) {
    .meContent {
        font-size: 1.15ex;
    }

    .nameBlock {
        font-size: 1.7em;
    }

    .toolItem {
        font-size: 1.2em;
        margin: 0.3rem;
        width: 20%;
        display: block;
        position: relative;
        float: left;
        text-align: center;
    }

    .contacts2 {
        width: 100%;
    }

    .contact3 {
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;

        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;

        align-items: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;

        margin: 1rem 0 1rem 0;
        width: 95%;
    }

    .contact2Item {
        /*flex-direction: row;*/
        justify-content: flex-start;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        /*!*align-items: center;*!*/
        /*!*width: 20%;*!*/
        /*!*max-width: 150px;*!*/
        margin: 0.2rem;
    }

    .meImg {
        height: 100%;
        min-height: 150px;
    }
}