.log-wrapper {
    border: 1px solid #000;
    background: #111;
    width: 298px;
    // margin: 20px;

    .log-info {
        margin: 20px;

        .log-title {
            height: 18px;
            color: rgba(#0cc, 1);
            border: 1px solid rgba(#099, 0.3);
            background-color: rgba(#066, 0.1);
        }
        .log-empty {
            height: 20px;
        }
        .log-item {
            display: flex;
            align-items: center;
            height: 18px;
            border: 1px solid rgba(#000, 0.4);
            background-color: rgba(#000, 0.4);
        }
        .log-nogold {
            display: flex;
            align-items: center;

            height: 18px;
            color: rgba(#f00, 0.8);
            border: 1px solid rgba(#f00, 0.3);
            background-color: rgba(#f00, 0.1);
        }
        .log-endturn {
            display: flex;
            align-items: center;

            height: 18px;
            color: rgba(#cc0, 0.9);
            border: 1px solid rgba(#cc0, 0.2);
            background-color: rgba(#cc0, 0.1);
        }
        .log-newturn {
            display: flex;
            align-items: center;

            height: 18px;
            color: rgba(#0cc, 0.9);
            border: 1px solid rgba(#0cc, 0.2);
            background-color: rgba(#0cc, 0.05);

            .gray {
                color: rgba(#999, 1);
                font-weight: normal;
            }
            .change-gold-int {
                color: rgba(#ff0, 0.9);
                font-weight: normal;
            }
            .houses-int {
                color: rgba(#0f0, 0.9);
                font-weight: normal;
            }
            .empty {
                color: rgba(#000, 0);
            }
        }
        .log-gold-change {
            display: flex;
            align-items: center;

            height: 18px;
            color: #999;
            border: 1px solid rgba(#000, 0.4);
            background-color: rgba(#000, 0.4);

            .change-gold-int {
                color: rgba(#ff0, 0.9);
                font-weight: normal;
            }
            .empty {
                color: rgba(#000, 0);
            }
        }
        .log-atack-enemy {
            display: flex;
            align-items: center;

            height: 18px;
            color: #090;
            border: 1px solid rgba(#000, 0.4);
            background-color: rgba(#000, 0.4);

            .change-xp {
                color: rgba(#f00, 0.9);
                font-weight: normal;
            }
            .xp {
                color: rgba(#ff0, 0.9);
                font-weight: normal;
            }
            .gray {
                color: rgba(#999, 1);
                font-weight: normal;
            }
            .empty {
                color: rgba(#000, 0);
            }
        }
        .log-atack-user {
            display: flex;
            align-items: center;

            height: 18px;
            color: #c00;
            border: 1px solid rgba(#000, 0.4);
            background-color: rgba(#000, 0.4);

            .change-xp {
                color: rgba(#f00, 0.9);
                font-weight: normal;
            }
            .xp {
                color: rgba(#ff0, 0.9);
                font-weight: normal;
            }
            .gray {
                color: rgba(#999, 1);
                font-weight: normal;
            }
            .empty {
                color: rgba(#000, 0);
            }
        }
        .log-destroed-enemy {
            display: flex;
            align-items: center;

            height: 18px;
            color: #0c0;
            border: 1px solid rgba(#090, 0.4);
            background-color: rgba(#030, 0.4);
        }
        .log-destroed-user {
            display: flex;
            align-items: center;

            height: 18px;
            color: #c00;
            border: 1px solid rgba(#900, 0.4);
            background-color: rgba(#300, 0.4);
        }
    }
}
